# Intro do Data Structures
A quick intro to data structures from [pandas docs](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro). Might be a good idea before diving into more advanced pandas stuff. First, let's import pandas and numpy.

In [1]:
import numpy as np
import pandas as pd

## Series

In [5]:
??pd.Series

### From ndarray
If **data** is *ndarray* then **index** must be the same length as **data**. If no index passed, one will be created having values [0, ..., len(data)-1].

In [6]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [7]:
s

a    2.777195
b    0.176360
c   -0.222080
d    1.181364
e    0.659670
dtype: float64

In [8]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
pd.Series(np.random.randn(5))

0   -0.638350
1   -0.463546
2   -0.216170
3   -0.100839
4    1.748732
dtype: float64

### From dict
Series can be created from dictionary.

In [10]:
d = {'b': 1, 'a': 0, 'c': 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

Retains the order of a given dict (might sort by key on lower versions of Python and Pandas.

When an index is passed, it will apply its ordering (and put NaN for keys with no corresponding value).

In [11]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

Interestingly, it now converted values to *float64*. Perhaps because of *NaN*? Let's see.

In [12]:
pd.Series(d, index=['b', 'c', 'a'])

b    1
c    2
a    0
dtype: int64

Yep, it seems the *NaN* value forces other values to be represented as *float64*.

### From scalar value
If *data* is a scalar value, an index must be provided. The scalar value then will be repeated for each index element.

In [13]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'c'])

a    5.0
b    5.0
c    5.0
d    5.0
c    5.0
dtype: float64

### Series is ndarray-like
*Series* behaves very similarly to a *ndarray* and is a valid argument to most *NumPy* functions. Beware than slicing also slices the index.

In [14]:
s

a    2.777195
b    0.176360
c   -0.222080
d    1.181364
e    0.659670
dtype: float64

In [15]:
s[0]

2.777195011275134

In [16]:
s[:3]

a    2.777195
b    0.176360
c   -0.222080
dtype: float64

In [17]:
s[s > s.median()]

a    2.777195
d    1.181364
dtype: float64

In [18]:
s.median()

0.6596695272283994

In [19]:
s[[4, 3, 1]]

e    0.659670
d    1.181364
b    0.176360
dtype: float64

In [20]:
np.exp(s)

a    16.073871
b     1.192867
c     0.800851
d     3.258817
e     1.934153
dtype: float64

### Series is dict-like
Basically, it is possible to get and set values by index label.

In [21]:
s['a']

2.777195011275134

In [22]:
s

a    2.777195
b    0.176360
c   -0.222080
d    1.181364
e    0.659670
dtype: float64

In [23]:
s['e'] = 12

In [24]:
s

a     2.777195
b     0.176360
c    -0.222080
d     1.181364
e    12.000000
dtype: float64

In [25]:
'e' in s

True

In [26]:
'f' in s

False

In [28]:
# s['f'] - will throw an exception

In [29]:
s['g'] = .3
s

a     2.777195
b     0.176360
c    -0.222080
d     1.181364
e    12.000000
g     0.300000
dtype: float64

In [30]:
s.get('f')

In [31]:
s.get('g')

0.3

In [32]:
s.get('f', np.nan)

nan

### Vectorized operations and label alignment with Series
As with *NumPy* arrays, is it usually not necessary to loop through Series values. Series can also be passed into most *NumPy* methods expecting an ndarray.

In [33]:
s

a     2.777195
b     0.176360
c    -0.222080
d     1.181364
e    12.000000
g     0.300000
dtype: float64

In [34]:
s + s

a     5.554390
b     0.352719
c    -0.444161
d     2.362729
e    24.000000
g     0.600000
dtype: float64

In [35]:
s * 2

a     5.554390
b     0.352719
c    -0.444161
d     2.362729
e    24.000000
g     0.600000
dtype: float64

In [36]:
np.exp(s)

a        16.073871
b         1.192867
c         0.800851
d         3.258817
e    162754.791419
g         1.349859
dtype: float64

A key differece between *Series* and *ndarray* is that Series automatically aligns the data based on labels.

In [38]:
s

a     2.777195
b     0.176360
c    -0.222080
d     1.181364
e    12.000000
g     0.300000
dtype: float64

In [39]:
s[1:]

b     0.176360
c    -0.222080
d     1.181364
e    12.000000
g     0.300000
dtype: float64

In [40]:
s[:-1]

a     2.777195
b     0.176360
c    -0.222080
d     1.181364
e    12.000000
dtype: float64

In [41]:
s[1:] + s[:-1]

a          NaN
b     0.352719
c    -0.444161
d     2.362729
e    24.000000
g          NaN
dtype: float64

### Name attribute

In [43]:
s.rename("new name")

a     2.777195
b     0.176360
c    -0.222080
d     1.181364
e    12.000000
g     0.300000
Name: new name, dtype: float64

## DataFrame
2-dimensional labeled data structure with columns of potentially different types. May resemble a spreadsheet or SQL table. Generally the most commonly used pandas object. The following can be optionally passed in as arguments:
- **index** (row labels)
- **columns** (column labels)

### From dict of Series or dicts
Nested dics are converted into Series.

In [44]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [45]:
df = pd.DataFrame(d)

In [46]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [47]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [48]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [49]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [50]:
df.columns

Index(['one', 'two'], dtype='object')

### From dict of ndarrays / lists
All *ndarrays* must be the same length. If an index is passed, it must be also the same length as the arrays. As with Series, when no index defined, it will be automatically created as range(length_of_the_array).

In [51]:
d = {'one': [1., 2., 3., 4.],
     'two': [4., 3., 2., 1.]}

In [52]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [53]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

### From structured or record array